@model Helperland.ViewModel.LoginForgot
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/img/favicon_img.png" rel="shortcut icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Css/Style.css">
    <link rel="stylesheet" type="text/css" href="~/Css/Style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">
    @if (HttpContextAccessor.HttpContext.Session.GetString("FirstName") == null)
    {


        <header>
            <nav class="navbar navbar-expand-lg navigation-wrap">

                <div class="container-fluid">
                    <a id="navbrand" class="navbar-brand" href="#">
                        <img id="logo" src="~/img/logo.png">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto ">
                            <li class="nav-item">
                                <button class="nav-link first main-btn1" onclick="chekloginornot()">Book a Cleaner</button>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link first-1" asp-controller="home" asp-action="Price">Price</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link first-1" href="#ourguarantee">Our Guarantee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link first-1" href="#blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link first-1" asp-controller="home" asp-action="Contactus">Contact us</a>
                            </li>
                            <li>
                                <button id="myBtn" onclick="document.getElementById('myModal').style.display='block';" class="main-btn1"> Login</button>
                            </li>
                            <li>
                                <button id="mainbtn2" class="main-btn2"><a asp-action="BecomeaHelper" asp-controller="Home"> Become a Helper</a></button>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="scrolltop">
                    <a href="#top"><img src="~/img/forma-1.svg"></a>

                </div>
                <div class="messageme">
                    <a href=""><img src="~/img/layer-598.png"></a>
                </div>
            </nav>
        </header>
    }

    else
    {
        <header>
            <nav class="navbar navbar-expand-lg navigation-wrap">

                <div class="container-fluid">
                    <a id="navbrand" class="navbar-brand" href="#">
                        <img id="logo" src="~/img/logo.png">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto ">
                            @if (HttpContextAccessor.HttpContext.Session.GetInt32("UserTypeId") == 1)
                            {
                                <form method="post">
                                <li class="nav-item">
                                    <button class="nav-link first main-btn1" asp-controller="Home" asp-action="bookservice">Book a Cleaner</button>
                                </li>
                                </form>
                            }
                                <li class="nav-item">
                                    <a class="nav-link first-1" asp-controller="home" asp-action="Price">Price</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link first-1" href="#ourguarantee">Our Guarantee</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link first-1" href="#blog">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link first-1" asp-controller="home" asp-action="Contactus">Contact us</a>
                                </li>
                                <div class="border" style=" background-color: #e1e1e1; width: 1px; height: 35px;"></div>
                                <li class="nav-item">

                                    <a class="first-2"><img src="~/img/icon-notification.png"><span class="num">2</span></a>
                                </li>
                                <div class="border" style=" background-color: #e1e1e1; width: 1px; height: 35px;"></div>
                                <li class="nav-item">
                                    <a class="first-3"><img src="~/img/user(1).png"></a>
                                </li>
                                <li>

                                    <div class="btn-group dropstart">
                                        <img class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" src="~/img/arrow.png">

                                        <ul class="dropdown-menu mt-5">
                                            <li class="username">
                                                Welcome,<br>
                                                <b>@HttpContextAccessor.HttpContext.Session.GetString("FirstName")</b>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-action="Dashboard" asp-controller="Home" title="My Dashboard">My Dashboard</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" title="My Settings" asp-action="customerprofile" asp-controller="Home">My Settings</a>
                                            </li>
                                            <li><a class="dropdown-item" asp-action="logout" asp-controller="Home">Log out</a></li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                    </div>
                </div>
                <div class="scrolltop">
                    <a href="#top"><img src="~/img/forma-1.svg"></a>

                </div>
                <div class="messageme">
                    <a href=""><img src="~/img/layer-598.png"></a>
                </div>
            </nav>
        </header>

    }
    <div>
        @RenderBody()

        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" onclick="document.getElementById('myModal').style.display='none';"><img src="~/img/close.png"></span>
                <div class="form">

                    <div class="header">
                        Login to your account
                    </div>
                    <form asp-action="Login" asp-controller="Shared">
                        @Html.ValidationMessage("Invalid", new { @class = "text-danger" })
                        <div class="element form-group icon-textbox right">
                            <input asp-for="LoginModel.Email" class="emailfield form-control" placeholder="Email" id="_email" data-placeholder="Email" />
                            <span asp-validation-for="LoginModel.Email" class="text-danger"></span>

                        </div>
                        <input asp-for="chceckbookorlogin" id="mytext" value="" hidden />
                        <div class="element form-group">

                            <input asp-for="LoginModel.Password" class="passfield form-control " id="_pass" placeholder="Password">
                            <span asp-validation-for="LoginModel.Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input asp-for="LoginModel.Rememberme" formcontrolname="RememberMe" type="checkbox" class="checkboxinput ng-untouched ng-pristine ng-valid">
                                <span>
                                    Remember me
                                </span>
                            </label>
                        </div>
                        <div class="element">
                            <button type="submit">Login</button>
                        </div>
                    </form>
                    <div class="forgot">
                        <a id="forgotpass" onclick="document.getElementById('myModal1').style.display='block' ;document.getElementById('myModal').style.display='none';">Forgot password?</a>
                    </div>
                    <div class="register">
                        Don't have an account?<a asp-controller="home" asp-action="Createaccount"> Create an account</a>
                    </div>
                </div>
            </div>

        </div>







        <div id="myModal1" class="modal1">

            <!-- Modal content -->
            <div class="modal-content1">
                <span class="close" onclick="document.getElementById('myModal1').style.display='none';"><img src="~/img/close.png"></span>
                <div class="form">

                    <div class="header">
                        Forgot Password
                    </div>
                    <form asp-action="forgot" asp-controller="Shared">
                        @Html.ValidationMessage("invalidemail", new { @class = "text-danger" })
                        <div class="element form-group icon-textbox right">
                            <input asp-for="ForgotModel.Email" class="form-control" placeholder="Email" data-placeholder="Email" />
                            <span asp-validation-for="ForgotModel.Email" class="text-danger"></span>
                        </div>

                        <div class="element">
                            <button type="submit">send</button>
                        </div>
                    </form>
                    <div class="forgot">
                        <a id="forgotpass" onclick="document.getElementById('myModal1').style.display='none';document.getElementById('myModal').style.display='block';">Login now</a>
                    </div>

                </div>
            </div>

        </div>


        <div id="myModal2" class="modal2">

            <!-- Modal content -->
            <div class="modal-content2">

                <div class="form">

                    <div class="header1">
                        <img src="~/img/Sucess.jpg" />
                        <br />
                        Password updated successfully
                    </div>


                    <div class="element">
                        <button onclick="document.getElementById('myModal2').style.display='none';">ok</button>
                    </div>




                </div>
            </div>

        </div>





    </div>
    <script>
        function chekloginornot() {

            document.getElementById("mytext").value = "booknow";
            document.getElementById('myModal').style.display = 'block';
        }
    </script>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            document.getElementById('myModal').style.display = 'block';
        </script>

    }
    @if (ViewBag.Message1 != null)
    {
        <script type="text/javascript">
            document.getElementById("mytext").value = "booknow";
            document.getElementById('myModal').style.display = 'block';
        </script>

    }

    @if (ViewBag.forgot != null)
    {
        <script type="text/javascript">

            document.getElementById('myModal1').style.display = 'block';
        </script>

    }
    @if (ViewBag.passwordchangesucess != null)
    {
        <script type="text/javascript">

            document.getElementById('myModal2').style.display = 'block';
        </script>

    }
    @if (ViewBag.Rememberme != null)
    {
        <script type="text/javascript">
            var cookieValueemail = Request.Cookies["EmailCookie"];
            var cookieValuepass = Request.Cookies["PasswordCookie"];
            document.getElementById("_email").value = cookieValueemail;
            document.getElementById("_pass").value = cookieValuepass;
        </script>

    }


</body>
</html>
